{% include "challenge.html" %}

<div style="display:none">
	<input type="hidden" name="modal_challenge_id" value="{{ challenge.id }}" />
	<input type="hidden" name="modal_user_id" value="{{ Session.id }}" />
	<input type="hidden" name="modal_session_nonce" value="{{ Session.nonce }}" />
</div>