{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Register</h1>
	</div>
</div>
<div class="container container-bg">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			{% with form = Forms.auth.RegistrationForm() %}
			{% from "macros/forms.html" import render_extra_fields %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form">
				<div class="form-group">
					<b>Name</b>
					{{ form.name(class="form-control", value=name) }}
				</div>
				<div class="form-group">
					<b>Email</b>
					{{ form.email(class="form-control", value=email) }}
				</div>
				<div class="form-group">
					<b>Password</b>
					{{ form.password(class="form-control", value=password, id="password-field") }}
				</div>
				<ul>
					<li id="tekens">minimaal 8 tekens lang</li>
					<li id="hoofdletter">minimaal 1 hoofdletter</li>
					<li id="nummer">minimaal 1 nummer</li>
					<li id="speciaal">minimaal 1 speciaal teken</li>
				</ul>

				{{ form.nonce() }}

				{{ render_extra_fields(form.extra) }}

				<div class="row pt-3">
					<div class="col-md-12">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined float-right") }}
					</div>
				</div>
			</form>
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	document.getElementById("password-field").addEventListener("keyup", function() {
		checkPassword();
	});

	function checkPassword() {
		var password = document.getElementById("password-field");
		var goodColor = "#66cc66";
		var badColor = "black";
		if (password.value.length >= 8) {
			element = document.getElementById("tekens")
			element.style.color = goodColor;
			element.innerHTML = "minimaal 8 tekens lang ✔";
		} else {
			element = document.getElementById("tekens")
			element.style.color = badColor;
			element.innerHTML = "minimaal 8 tekens lang";
		}
		if (password.value.match(/[A-Z]/)) {
			element = document.getElementById("hoofdletter")
			element.style.color = goodColor;
			element.innerHTML = "minimaal 1 hoofdletter ✔";
		} else {
			element = document.getElementById("hoofdletter")
			element.style.color = badColor;
			element.innerHTML = "minimaal 1 hoofdletter";
		}
		if (password.value.match(/[0-9]/)) {
			element = document.getElementById("nummer")
			element.style.color = goodColor;
			element.innerHTML = "minimaal 1 nummer ✔";
		} else {
			element = document.getElementById("nummer")
			element.style.color = badColor;
			element.innerHTML = "minimaal 1 nummer";
		}
		if (password.value.match(/[^a-zA-Z0-9]/)) {
			element = document.getElementById("speciaal")
			element.style.color = goodColor;
			element.innerHTML = "minimaal 1 speciaal teken ✔";
		} else {
			element = document.getElementById("speciaal")
			element.style.color = badColor;
			element.innerHTML = "minimaal 1 speciaal teken";
		}
	}
</script>
{% endblock %}